body{
  background-color: #94b4a4;
}
hr{
  border-style: none;
  border-top-style: dotted;
  border-color: #f4d9c6;
  border-width: 5px;
  width: 5%;
}
img{
  height:200px;
  width:200px;
}
h1{
  color: #d2f5e3;
}
h3{
  color: #e5c5b5;
}
.arjun{
  border-radius: 100%;
}
